section.layout {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

section.layout.visible {
  width: 100%;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s, visibility 0.3s;
  margin: 0;

  @media (min-width: 1200px) {
    margin: 0 auto;
  }
}