.dragContainer {
  width: 800px;
  margin: 40px auto;
  background: #333;

  &.wider {
    width: 1000px;
  }

  h2 {
    font-size: 20px;
  }

  .minmax {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

}

