div.library {
    display: none;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}

div.visible {
  display: flex;
  opacity: 1;
  transition: opacity 0.3s, visibility 0.3s;
}

.button {
  text-align: start;
}